:root {
  background-attachment: fixed;
  background-image: url("./media/weather-images.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  margin-right: 50px;
  padding-bottom: 10px;
  text-align: center
}

td {
  width: 1000px;
}

table {
  border-spacing: 10px;
  margin-left: 10px;
  text-align: center
}